.table-operations {
  margin-bottom: 16px;
  > button {
    margin-right: 8px;
  }
}

.editable-row-text {
  padding: 5px;
}

.editable-row-operations a {
  margin-right: 8px;
}

.customTable .ant-table-thead > tr:first-child th {
  background-color: #F6F7FB; /* 设置第一行表头单元格背景颜色 */
  font-family: 'Microsoft YaHei, SimHei, Arial, sans-serif';
}

.customTable .ant-table {
  border: 1px solid #f0f0f0; /* 设置外缘边框颜色 */
}

.customTable .ant-table-cell {
  border-bottom: none; /* 去除单元格之间的底部边框 */
}

.customTable .ant-table-tbody > tr:last-child .ant-table-cell {
  border-bottom: 1px solid #f0f0f0; /* 为最后一行单元格添加底部边框 */
}

.customTable .ant-table-thead > tr > th {
  border-bottom: 1px solid #f0f0f0; /* 为表头单元格添加底部边框 */
  font-weight: bold; /* 使表头单元格字体加粗 */

}
/* 设置从第一行开始的数据字体大小为10px */
.customTable .ant-table-tbody > tr .ant-table-cell {
  font-size: 14px;
}
// .customTable .ant-table-tbody > tr:hover {
//   background-color: #E5E8EF;
// }

// 修改customTable复选框的边框颜色
.customTable .ant-checkbox-inner {
  border-color: #c8c8c8; /* 设置复选框边框颜色为灰色 */
}

// 配置Input组件的常态边框颜色
.customInput {
  .ant-input {
    border-color: #c8c8c8; /* 设置常态边框颜色 */
  }

  .ant-input:focus,
  .ant-input:hover {
    border-color: #40a9ff; /* 设置聚焦和悬停时的边框颜色 */
  }
}

// 如果你只想更改这三个具体的Input组件，可以给Form.Item加上一个className
.form-item-custom {
  .ant-input {
    border-color: #c8c8c8; /* 设置常态边框颜色 */
  }

  .ant-input:focus,
  .ant-input:hover {
    border-color: #40a9ff; /* 设置聚焦和悬停时的边框颜色 */
  }
}






.customTableSmall .ant-table-thead > tr:first-child th {
  background-color: #F6F7FB; /* 设置第一行表头单元格背景颜色 */
}

.customTableSmall .ant-table {
  border: 1px solid #f0f0f0; /* 设置外缘边框颜色 */
}

.customTableSmall .ant-table-cell {
  border-bottom: none; /* 去除单元格之间的底部边框 */
  height: 38px; /* 设置每行单元格的高度 */
  line-height: 38px; /* 设置行高与单元格高度一致 */
}

.customTableSmall .ant-table-tbody > tr:last-child .ant-table-cell {
  border-bottom: 1px solid #f0f0f0; /* 为最后一行单元格添加底部边框 */
}

.customTableSmall .ant-table-thead > tr > th {
  border-bottom: 1px solid #f0f0f0; /* 为表头单元格添加底部边框 */
  font-weight: bold; /* 使表头单元格字体加粗 */
}

/* 设置从第一行开始的数据字体大小为10px */
.customTableSmall .ant-table-tbody > tr .ant-table-cell {
  font-size: 12px;
}

.customTable2 .ant-table {
  border-bottom: none; /* 移除Table底部边框 */
}


.noTopBorderCard {
  border-top: none; /* 移除Card顶部边框 */
  box-shadow: none; /* 如果有阴影也移除掉 */
}
